# Exploratory Data Analysis - Tic Tac Toe
**Author**: Gabriela Dellamora Paim, Bruno Duarte Carlan

**Version**: 14/04/2025

**Python Ver**: 3.12.9

In [39]:
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from ydata_profiling import ProfileReport
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

# Agg parou de funcionar pra mim do nada. Remove essa linha quando for rodar
# matplotlib.use('TkAgg')

SIZE=800

PATH = './data.csv'
OLD_PATH = 'data.csv'
NEW_PATH = f'data_balanced_{SIZE}.csv'

X = 1
O = -1
BLANK = 0

O_WIN   = 0
DRAW    = 1
ONGOING = 2
X_WIN   = 3

In [40]:
# Estatísticas descritivas das colunas (somente para numéricos, target no caso)
df = pd.read_csv(PATH)
df.describe()

,0,1,2,3,4,5,6,7,8,category
count,2595.000000,2595.000000,2595.000000,2595.000000,2595.000000,2595.000000,2595.000000,2595.000000,2595.000000,2595.000000
mean,0.009634,0.023892,0.013873,0.016570,0.017341,0.015029,-0.006551,0.007322,0.021965,1.625048
std,0.850588,0.833595,0.853922,0.836772,0.866631,0.830791,0.851976,0.837365,0.852623,1.298266
min,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000

In [41]:
pf = ProfileReport(df)
pf.to_file('report.html')

100%|██████████| 10/10 [00:00<00:00, 974.56it/s]00:00, 21.77it/s, Describe variable: category]
Summarize dataset: 100%|██████████| 19/19 [00:00<00:00, 28.67it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.06s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  5.67it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 304.55it/s]

In [42]:
print("\nSample do dataset:")
df.sample(30)

Sample do dataset:

      0  1  2  3  4  5  6  7  8  category
1136 -1  1  1  0 -1  1 -1  0 -1         0
586   0 -1  0  0  0 -1  1  1  1         3
2374  0  1  0  0 -1  1  1 -1 -1         2
1882  0  1  0 -1  1  0 -1  1 -1         3
1908  1 -1 -1 -1  1  1 -1  1 -1         1
832  -1 -1 -1 -1  1  1  1  0  1         0
798  -1  1  0 -1  0  0 -1  1  1         0
382  -1 -1  1 -1  1  1  1  0  0         3
340  -1  1 -1  0  1  0 -1  1  1         3
578   0 -1  0  1  1  1 -1  0  0         3
1997  0  1  0 -1  0  1  0  0  0         2
1711  1 -1 -1  1  1 -1  1 -1  0         3
2078  0  0  1  0  0  0  0 -1  1         2
866  -1  0 -1  1  1 -1  1  1 -1         0
2128  0  0 -1  0  0  1  0  1 -1         2
1238 -1  0  0 -1  1  0 -1  0  1         0
1382  1  0 -1 -1 -1  1 -1  0  1         0
1264  1 -1 -1  1  0 -1  0  1 -1         0
1570  0  0  1 -1  1  1 -1 -1 -1         0
2008  0  1 -1  1  0  0  0  0  0         2
951  -1  1  1  1 -1 -1  1 -1  1         1
2459  0  1  1  1 -1 -1  1 -1  0         2
2319  0 -1  1 -1  0  0  1  1 -1         2
2551  1  1 -1  1 -1  1  0 -1 -1         2
2221  0  0  0 -1  1 -1  1  1  0         2
2593 -1  0 -1  1 -1  1  1 -1  1         2
1880  0  1  0 -1  1 -1 -1  1  0         3
2194  1  0  0 -1  0 -1  0  0  1         2
2463  1 -1  1 -1  0  0  1 -1  1         2
1708  1 -1 -1  1 -1  0  1  1 -1         3

In [43]:
print("\nDimensões do dataset:")
print(df.shape)

Dimensões do dataset:
(2595, 10)

In [44]:
print("\nValores únicos por coluna:")
for col in df.columns:
    print(f"\nColuna '{col}':")
    print(df[col].value_counts())

Valores únicos por coluna:

Coluna '0':
0
 1    951
-1    926
 0    718
Name: count, dtype: int64

Coluna '1':
1
 1    933
-1    871
 0    791
Name: count, dtype: int64

Coluna '2':
2
 1    964
-1    928
 0    703
Name: count, dtype: int64

Coluna '3':
3
 1    930
-1    887
 0    778
Name: count, dtype: int64

Coluna '4':
4
 1    997
-1    952
 0    646
Name: count, dtype: int64

Coluna '5':
5
 1    915
-1    876
 0    804
Name: count, dtype: int64

Coluna '6':
6
-1    950
 1    933
 0    712
Name: count, dtype: int64

Coluna '7':
7
 1    919
-1    900
 0    776
Name: count, dtype: int64

Coluna '8':
8
 1    972
-1    915
 0    708
Name: count, dtype: int64

Coluna 'category':
category
3    941
0    941
2    681
1     32
Name: count, dtype: int64

In [45]:
# Análise da variável alvo
print("\nDistribuição da variável alvo (category):")
print(df['category'].value_counts(normalize=True))

Distribuição da variável alvo (category):
category
3    0.362620
0    0.362620
2    0.262428
1    0.012331
Name: proportion, dtype: float64

In [46]:
# Visualização da distribuição da variável alvo
plt.figure(figsize=(6, 4))
sns.countplot(x='category', data=df, palette='viridis', hue='category')
plt.title('Distribuição da variável alvo')
plt.legend(['O Venceu', 'Empate', 'Tem jogo', 'X Venceu'])
plt.xlabel('Categoria')
plt.ylabel('Contagem')
plt.show()

invalid command name "140034696894784process_stream_events"
    while executing
"140034696894784process_stream_events"
    ("after" script)

In [47]:
cols = df.columns[:-1]
num_cols = len(cols)

# Calcular número de linhas e colunas para o subplot dinamicamente
n_cols = 3
n_rows = (num_cols + n_cols - 1) // n_cols  # Arredondar para cima

fig, axes = plt.subplots(n_rows, n_cols, figsize=(5 * n_cols, 4 * n_rows))
fig.suptitle('Distribuição dos valores em cada posição do tabuleiro', fontsize=16)

# Se axes for 1D, transformar em 2D para evitar erros
if n_rows == 1:
    axes = [axes]
axes = axes.flatten()

for i, col in enumerate(cols):
    sns.countplot(x=col, hue=col, data=df, ax=axes[i], palette='Set2', legend=False)
    axes[i].set_title(f'Posição {col}')
    axes[i].set_xlabel('Valor')
    axes[i].set_ylabel('Contagem')

# Remover subplots vazios
for j in range(i + 1, len(axes)):
    fig.delaxes(axes[j])

plt.tight_layout(rect=[0, 0.03, 1, 0.95])
plt.show()

invalid command name "140034680492544process_stream_events"
    while executing
"140034680492544process_stream_events"
    ("after" script)

In [48]:
print("\nCruzamento entre a posição 0 e a variável category:")
cross_tab = pd.crosstab(df['0'], df['category'])
print(cross_tab)

Cruzamento entre a posição 0 e a variável category:
category    0   1    2    3
0
-1        433  16  174  303
 0        205   0  308  205
 1        303  16  199  433

In [49]:
# Heatmap para visualizar a correlação entre posições e categoria
plt.figure(figsize=(8, 6))
sns.heatmap(cross_tab, annot=True, fmt='d', cmap='YlGnBu')
plt.title('Heatmap - Posição 0 vs Category')
plt.ylabel('Valor na posição 0')
plt.xlabel('Category')
plt.show()

invalid command name "140034679626560process_stream_events"
    while executing
"140034679626560process_stream_events"
    ("after" script)

# Balanceamento dos dados

In [50]:

# separa X e y
X = df.drop(columns=["category"])
y = df["category"]

# under-sample para que ninguém tenha > SIZE
under_strategy = { label: min(count, SIZE) for label, count in y.value_counts().to_dict().items() }
rus = RandomUnderSampler(sampling_strategy=under_strategy, random_state=42)
X_u, y_u = rus.fit_resample(X, y)

# 3) over-sample para que ninguém tenha < SIZE
over_strategy = { label: SIZE for label in y_u.unique() }
ros = RandomOverSampler(sampling_strategy=over_strategy, random_state=42)
X_res, y_res = ros.fit_resample(X_u, y_u)


df_balanced = pd.DataFrame(X_res, columns=X.columns)
df_balanced["category"] = y_res

print(df_balanced["category"].value_counts())


print("\nDataset após undersampling:")
print(df_balanced["category"].value_counts())

df_balanced.to_csv(NEW_PATH, index=False)
print("Dataset com undersampling salvo como 'data_undersampled.csv'")

category
0    800
1    800
2    800
3    800
Name: count, dtype: int64

Dataset após undersampling:
category
0    800
1    800
2    800
3    800
Name: count, dtype: int64
Dataset com undersampling salvo como 'data_undersampled.csv'