# Exploratory Data Analysis - Tic Tac Toe
**Author**: Gabriela Dellamora Paim

**Version**: 14/04/2025

**Python Ver**: 3.13.1

In [ ]:
import pandas as pd
# Importar libs de visualização.

PATH = './data.csv'
X_WIN   = X = '1'
O_WIN   = O ='-1'
DRAW    = '0'
ONGOING = '0.5'

In [2]:
df = pd.read_csv(PATH)
df.describe()

          category
count  1021.000000
mean      0.333986
std       0.909164
min      -1.000000
25%      -1.000000
50%       1.000000
75%       1.000000
max       1.000000